.grid-container{
  display:inline-flexbox;
  grid-template-columns: repeat(auto-fit);
  gap: 2px;
  padding: 20px;
}
 .about, .projects, .skills, .contact{
  background-color:blanchedalmond;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.skills{
  grid-column: span 1;
}